{% extends 'autoservice/base.html' %}
{% block content %}
<div class="container">
    <ul class="font-weight-bold font-italic" >
        <h2> Su mumis galite susisiekti: </h2>
        <li>Mūsų telefono numeris - +3705249756 </li>
        <li>Adresas - Naugarduko g. 11, Suomijos miško kelio bitininkų bendruomenė, Šleponiškės </li>
        <li>Faksas - 42568252234  </li>
        <li>Balandžių pašto migracijos duomenys - jg2ge26&@#$3fds$#@6 (siųsti balandžiui tiesiai į smegenyse esančią mikroschemą) </li>
    </ul>
</div>
{% endblock content %} 