{% extends 'C:/Users/User 1/Desktop/Programavimas/Django_autoservisas/autoservice/carservice/templates/autoservice/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1>Automobilių servisas "Neišpjausim katalizatoriaus (galbūt))"</h1>
    <h4>Šiuo metu turime:</h4>
    <ul>
        <li>Paslaugų: <strong>{{ num_services }}</strong></li>
        <li>Atliktų užsakymų: <strong>{{ num_orders }}</strong></li>
        <li>Automobilių servise: <strong>{{ num_cars }}</strong></li>
    </ul>
    <p>Čia jūs lankotes {{ num_visits }}-ą kartą.</p>
<div class="mechanikas"> <img src="{% static 'images/1.jpg' %}" alt="Autoserviso paveikslelis" width="600" height="400"></div>
</div>

{% endblock content %} 